.category-item{
    position: relative;
    display: flex;
    min-width: 140px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

    cursor: pointer;
}

.category-item-active{
    display: flex;
    background-color: white;
}

.category-item p{
    background-color: inherit;
    padding: 0;
    margin : 0;
    margin-top: 10px;
    padding-top:5px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.category-btn{
    font-size: 14px;
    text-transform: capitalize;
    line-height: 16px;
    letter-spacing: 0.15px;

    border: 0;
    background-color: inherit;

}

.color-circle{
    display: block;
    width: 15px ;
    height: 15px ;
    border-radius: 50%;
    

    font-size: 8px;

    margin-top: 15px;

}


.category--delete-btn{
    position: relative;
    font-size: 0;
    display: block;
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px;

    border: 0;
    background-color: inherit;
}

.category--delete-btn::before,
.category--delete-btn::after{
    content : "";
    position: absolute;
    display: block;
    width: 13px;
    height: 2px;
    background-color: black;
    top:2px;
    right: 1px;
}

.category--delete-btn::before{
    transform : rotate(45deg);
}

.category--delete-btn::after{
    transform : rotate(-45deg);
}





.create-new-category--btn{
    color: #767676;
    position: relative;
    margin-top: 30px;
    background-color: inherit;
    border : 0;
    margin-left: 24px;
}

.create-new-category--btn::before,
.create-new-category--btn::after{
    content : "";
    position: absolute;
    display: block;
    width: 13px;
    height: 1px;
    background-color: #767676;;
    top:8px;
    left : -15px
}

.create-new-category--btn::before{
    transform : rotate(90deg);
}

.create-new-category--btn::after{
    transform : rotate(-180deg);
}

.circle-list{
    margin: 0;
    padding: 0;
    list-style: none;
}